<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Four Page</title>
</head>
<body>
  <center>
    <h2>Four Page</h2>
      <br>
    <img src="https://media.licdn.com/dms/image/C4E12AQErJsYayDutVg/article-cover_image-shrink_600_2000/0/1651835064260?e=2147483647&v=beta&t=PD7NGwk2Vh3xOA9gxf8uUsLsAt-Bvak1Hm3ruoGSxuY" height="400" width="1000">
      <br>
    <a href="/">First Page</a>
    <a href="/second/">Second Page</a>
    <a href="/three/">Three Page</a>
    <a href="/five/">Five Page</a>



  </center>
</body>
</html>